.container {
	margin-top: 16px;
	display: flex;
	flex-direction: column;
	gap: 16px;	
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	background-color: $bg;
}

.title {
	display: flex;
	align-items: center;
	font-size: 18px;
	cursor: pointer;
	color: $text;
	user-select: none;
	position: relative;

	background-color: $bg;
	text-decoration: none;

	/* Псевдоэлемент для создания дополнительного слоя */
	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		opacity: 0; /* Начальное состояние прозрачности */
		background-color: rgba(255, 255, 255, 0.3); /* Прозрачный фон */
		transition: opacity 0.3s ease; /* Анимация для плавного перехода */
	}

	/* Псевдоэлемент видим только при наведении */
	&:hover::after {
		opacity: 1; /* Показываем псевдоэлемент */
	}
}
