.container {
	width: 100%;
	display: flex;
	justify-content: center;
	color: white;
}

.logo {
	cursor: pointer;
	width: 90px;
	height: 90px;
}

.left_side {
	display: flex;
	align-items: center;
	min-height: 100vh;
	width: 50%;
	white-space: nowrap;
	font-size: 2em;
	padding-left: 140px;
	padding-right: 140px;
}

.left_card {
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
	width: 100%;

	border: 1px solid white;
	border-radius: 12px;
	background: #08112C;
  --tw-shadow: 0 1px 2px 0 white;
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 white), var(--tw-ring-shadow, 0 0 white), var(--tw-shadow);
}

.left_side_title {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	letter-spacing: 10px;
}

.left_side_name {
	display: flex;
	gap: 20px;
}

.right_side {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.developer {
	width: 90%;
}

.name {
	color: $primary-color;
	width: 100%;
	border-right: 5px solid white;
	overflow: hidden;
	animation: 
		typing 3s,
		cursor .4s step-end infinite alternate;
}

@keyframes cursor {
	50% { border-color: transparent }
}

@keyframes typing {
	from { width: 0 }
}

.welcome {
	display: flex;
	flex-direction: column;
	align-items: center;
	letter-spacing: 4px;
}
