.container {
	display: flex;
	background-color: #272C4A;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.page {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}