.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	cursor: pointer;
	width: 30px;
	height: 30px;
}

.label {
  cursor: pointer;
  font-size: 36px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: linear-gradient(140deg, #30dda3, #ffa3ff, #08cefa);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #ff7e5f;
  animation: gradientAnimation 5s infinite linear; // Анимация градиента
  background-size: 200% auto;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 200% center;
  }
}
